* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

:root {
    --main-color: #FF5C00;
    --secondary-color: #FF7E36;
    --background-color: #FFB78E;
    --bold-color: #873101;
    --semibold-color: #8b4d2c;
    --button-dimmed: #a8d6ca;
    --button-hover: #78D3BA;
    --button-active: #23A783;
    --white-color: #ffffff;
}

html, body {
    height: 100%;
    min-height: 700px;

}

body {
    font-family: 'Raleway';
    background-image: url('../assets/background.png');
    background-position: center;
    background-size: cover;
    min-width: 355px;
}

.main {
    margin-top: 70px;
    margin-bottom: 70px;
}

button {
    font-family: 'Raleway';
    cursor: pointer;
}

.green-button {
    border-width: 0px;
    background-color: var(--button-active);
    color: var(--white-color);
}

.green-button:hover {
    background-color: var(--button-hover);
    color: var(--white-color);
}

.green-button:active {
    background-color: var(--button-dimmed);
    color: var(--button-active);
}

/* header */

.header {
    height: 140px;
    width: 100%;
    box-shadow: 0px 1px 5px 0px #000000a6;
}

a {
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.info-bar, .nav-bar, .nav-bar-wrapper {
    height: 70px;
}

.info-bar, .nav-bar, .main {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-bar-wrapper {
    background-color: var(--white-color);
}

.info-bar, .nav-bar {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.info-bar-address, .info-bar-tel, .info-bar-feedback {
    font-weight: 700;
    font-size: 16px;
}

.info-bar-address {
    color: var(--bold-color);
}

.info-bar-address:hover {
    color: var(--semibold-color);
}

.info-bar-tel-desc {
    font-weight: 600;
    font-size: 11px;
    color: var(--main-color);
}

.info-bar-tel {
    background: var(--background-color);
    width: 230px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid var(--bold-color);
    color: var(--bold-color);
}

.info-bar-tel:hover {
    border: 2px solid var(--semibold-color);
    color: var(--semibold-color);
}

.info-bar-feedback {
    background: var(--button-active);
    width: 230px;
    height: 40px;
    border-radius: 15px;
    border-width: 0px;
    color: var(--white-color);
}

.nav-logo-wrapper {
    min-width: 140px;
    height: 70px;
}

.nav-logo {
    position: absolute;
    background-image: url('../assets/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    min-width: 140px;
    height: 70px;
}

.nav-pages {
    display: flex;
    gap: 55px;
}

.nav-pages > a {
    font-weight: 600;
    font-size: 20px;
    color: var(--secondary-color);
}

.nav-pages > a:hover {
    font-weight: 600;
    font-size: 20px;
    color: var(--main-color);
}

#nav-active-page {
    color: var(--bold-color);
    font-weight: 800;
}

.nav-social-logo-wrapper {
    width: 40px;
    height: 70px;
    float: left;
}

.nav-social-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
}

.nav-telegram-logo, .nav-instagram-logo {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 70px;
}

.nav-instagram-logo {
    background-image: url('../assets/icons/Instagram.svg');
}

.nav-telegram-logo {
    background-image: url('../assets/icons/Telegram.svg');
}

.nav-instagram-logo:hover {
    background-image: url('../assets/icons/Instagram-hover.svg');
}

.nav-telegram-logo:hover {
    background-image: url('../assets/icons/Telegram-hover.svg');
}

.nav-menu-logo-wrapper, .footer-callback {
    display: none;
}

/* footer */

.footer {
    position: relative;
    bottom: 0;
	width: 100%;
	height: 70px;
    text-align: center;
}

.footer-credentials {
    font-weight: 700;
    font-size: 16px;
    color: var(--bold-color);
    top: 27px;
}

/* @media (max-width: 959px) {
    .nav-bar {
        gap: 35px;
    } 
    .nav-pages {
        gap: 35px;
    }
} */

@media (max-width: 902px) {
    .info-bar-address {
        width: 182px;
    }
    .info-bar-tel, .info-bar-feedback {
        width: 170px;
    }
    .nav-bar, .nav-pages, .nav-social-wrapper{
        gap: 15px;
    }

}

@media (max-width: 589px) {
    /* .info-bar-address, .info-bar-tel {
        font-size: 15px;
    }

    .info-bar-tel-desc {
        font-size: 10px;
    }
     */
    .info-bar-feedback {
        display: none;
    }
    .nav-pages, .nav-social-wrapper {
        display: none;
    }
    .nav-menu-logo-wrapper {
        display: block;
        width: 35px;
        height: 35px;
    }
    
    .nav-menu-logo {
        background-image: url('../assets/icons/menu-icon.svg');
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
    }
    
    .nav-menu-logo:hover {
        background-image: url('../assets/icons/menu-icon-hover.svg');
    }
    .footer-callback {
        display: block;
        width: 60px;
        height: 60px;
        position: fixed;
        right: 30px;
        bottom: 30px;
        border-radius: 20px;
        box-shadow: 2px 2px 4px 0px #000000a6;
        text-align: center;
    }
    .footer-callback:hover {
        box-shadow: 3px 3px 4px 0px #000000c4;
    }
    .footer-callback-icon {
        width: 50px;
        height: 50px;
        margin: 5px;
        background-image: url('../assets/icons/callback.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .footer-callback-icon:active {
        background-image: url('../assets/icons/callback-active.svg');
    }
}