.tile-wrapper {
    background-color: var(--white-color);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile-details {
    display: flex;
    flex-direction: column;
}

h1#tile-header {
    margin-top: 48px;
    font-weight: 700;
    font-size: 40px;
    color: var(--main-color);
    text-align: center;
}

#tile-desc {
    font-weight: 500;
    font-size: 20px;
    color: var(--secondary-color);
    text-align: center;
    margin-top: 20px;
}

.tile-detail {
    font-weight: 700;
    font-size: 20px;
    color: var(--bold-color);
    text-align: center;
}

.tile-details {
    margin-top: 50px;
}

#return {
    width: 250px;
    height: 60px;
    border-radius: 20px;
    font-weight: 800;
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 30px;
}