/* tiles */

.tiles-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tile-wrapper {
    background-color: var(--white-color);
    width: 300px;
    height: 420px;
    border-radius: 20px;
}

.tile {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}

.tile-header {
    margin-top: 10px;
    height: 40px;
    width: 260px;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    color: var(--main-color);
}

/* input wrappers and inputs */

.input-wrapper {
    height: 60px;
    margin-bottom: 36px;
}

.input-wrapper:last-child {
    margin-bottom: 0px;
}

.form-label {
    font-weight: 600;
    font-size: 18px;
    color: var(--secondary-color);
    top: 2px;
}

.form-input {
    border: 1px solid var(--background-color);
    box-sizing: border-box;
    border-radius: 4px;
    height: 30px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    width: 260px;
    color: var(--bold-color);
    margin-top: 7px;
}

.form-input::placeholder {
    font-weight: 600;
}

.form-input:first-child {
    margin-top: 0px;
}

input.form-input {
    padding-left: 8px;
}

.form-submit-button {
    border-radius: 20px;
    width: 260px;
    height: 60px;
    font-weight: 800;
    font-size: 24px;
}

/* image of model */

.form-model-image-wrapper {
    top: 10px;
    width: 260px;
    height: 300px;
}

#form-model-image {
    position: absolute;
    background-image: url('../assets/images/iphones/iphone-6s.png');
    background-position: center;
    background-size: cover;
    width: 260px;
    height: 300px;
}

/* adaptivity */

@media (max-width: 959px) {
    .tiles-wrapper {
        justify-content: space-around;
        gap: 25px;
    }
} 